*{
	margin:0;
	padding:0;
	}
body,html{

	font:12px "微软雅黑", Arial;
	}
h1,h3,h3,h4,h5,h6,b,strong,section,header,fieldset{
	font-weighe:none;
	}
a{text-decoration:none;}
.clearfix{*zoom:1;}
.clearfix:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	overflow:hidden;
	}
li{list-style:none;}
img{verticalalign:top;}